//---------------------------------------------------------------------
// HEADER
//---------------------------------------------------------------------
#main-header
	margin 2em 0
	text-align center

.navicon
	display none

.menu ul
	list-style none
	margin 0
	padding 0
	text-align center
	
	li
		display inline-block

		a
			display block
			padding 1em

//---------------------------------------------------------------------
// CONTENT
//---------------------------------------------------------------------
.contenido-izq
	width 70%
	float left

.sidebar-right
	width 25%
	float right

//---------------------------------------------------------------------
// FOOTER
//---------------------------------------------------------------------
#main-footer
	margin-bottom 2em